/* Custom fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap");

@tailwind base;

@layer base {
    * {
    }

    .base {
        cursor: url(https://i.ibb.co/TRfYCpL/cursor.png) 16 16, auto !important;
    }

    button {
        cursor: url(https://i.ibb.co/TRfYCpL/cursor.png) 16 16, auto !important;

    }

    html {
        @apply text-white;

        
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        /* background: #f1f1f1; */
        opacity: 0;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        width: 5px;
        background: white;
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        width: 5px;
        background: #555;
    }
}

@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-white w-60 border-0 border-gray-700 text-black py-4 px-4 rounded-full hover:border-gray-400 hover:bg-gray-400;
    }

    .friend-listing {
        @apply flex flex-row bg-white w-80 border-0 border-gray-700 text-black py-2 px-2 rounded-lg space-x-2 hover:bg-gray-400;
    }

    .title {
        @apply font-montserrat font-semibold;
    }
    /* ... */
}
