{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>

<!-- <link href="../../static/css/page_transitions.css" rel="stylesheet" /> -->

<div class="absolute opacity-0">
  <div class="w-2 h-2 bg-[#355e3b]"></div>
  <div class="w-2 h-2 bg-[#518634]"></div>
  <div class="w-2 h-2 bg-[#322c3d]"></div>
  <div class="w-2 h-2 bg-[#8e3d81]"></div>
  <div class="w-2 h-2 bg-[#595169]"></div>
  <div class="w-2 h-2 bg-[#bc8f8f]"></div>
  <div class="w-2 h-2 bg-[#3d0c02]"></div>
  <div class="w-2 h-2 bg-[#674846]"></div>
  <div class="w-2 h-2 bg-[#fdbcb4]"></div>
  <div class="w-2 h-2 bg-[#9f8170]"></div>
  <div class="w-2 h-2 bg-[#ffebcd]"></div>
  <div class="w-2 h-2 bg-[#002147]"></div>
  <div class="w-2 h-2 bg-[#b0c4de]"></div>
</div>

<html class="base">
  {% tailwind_css %}
  <body class="bg-{{bg_color}}">
    {% block bubbles %}
    <div id="bubbles">
      <div
        class="fixed top-64 w-72 h-72 bg-{{bubble_color}} rounded-full animate-blob -z-50"
      ></div>
      <div
        class="fixed bottom-32 right-5 w-72 h-36 bg-{{bubble_color}} rounded-full rotate-12 animate-blob animation-delay-1500 -z-50"
      ></div>
    </div>
    {% endblock %}
    <div id="swup" class="h-min">{% block content %}{% endblock %}</div>
  </body>

  {% block page-footer %}
  <header class="fixed bottom-0 px-6 py-4">
    <div class="flex-col">
      <button onclick="location.href = '../homepage/'" class="text-4xl title">
        JudgeMe
      </button>

      <div class="flex space-x-2">
        <button onclick="location.href = '../about/'">about</button>
      </div>
    </div>
  </header>
  {% endblock %}

  <!-- Cursor -->
  <div class="cursor fixed left-0 top-0 z-50 pointer-events-none">
    <div
      class="relative rounded-full w-2 h-2 -left-1 -top-1 bg-white border-black border-0 opacity-0"
    ></div>
  </div>
  <div
    class="cursor-blob fixed w-0 h-0 -left-0 -top-0 -z-50 origin-center pointer-events-none"
  >
    <div
      class="relative rounded-full w-20 h-20 -left-10 -top-10 bg-{{bubble_color}} animate-pulse origin-center"
    ></div>
  </div>
  <!-- Cursor -->
</html>

<script defer src="{% static 'js/custom_mouse.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- <script defer src="{% static 'swup/dist/swup.min.js' %}"></script>
<script defer src="{% static 'js/page_transitions.js' %}"></script> -->
