{% load static tailwind_tags %} {% tailwind_css %}
<!DOCTYPE html>

<html>
    <body>
        <div
            class="flex justify-center container mx-auto my-auto w-screen h-screen items-center flex-col"
        >
            <img src="{% static 'login/Logo.png' %}" alt="Logo" />
            <p class="mb-8 text-black">
                Your music taste sucks. Let's see why.
            </p>
            <a href="/spotify/sign-in">
                <button type="submit" class="btn bg-gray-200">
                    Link your Spotify account
                </button>
            </a>
        </div>
    </body>
</html>
